:root {
  --body-bg: #121212;
  --titel-txt: #E0E0E0;
  --accent: #232323;
  --paragraf-txt: #9CA3AF;
  --as-bg: #1F2937;
  --as-bg-hover: #2f3845;
  --btn-bg: #6B7280;
  --şafaflik: rgba(90, 90, 90, 0.1);
  --crikle:radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 70%);
}

body {
  background-color: var(--body-bg);
    font-family: Arial, sans-serif;
}


body, html{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  background-color: var(--şafaflik);
  backdrop-filter: blur(1.4px);
  width: 94.4%;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px;
  border: var(--şafaflik) 2px solid;
  position: fixed;
  z-index: 1;
}

.navbar a {
  color: var(--titel-txt);
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  color: var(--paragraf-txt);
  transition: color 0.5s ease;
}

.navbar ul{
  list-style: none;
  display: flex;
  padding: 0;
  gap: 25px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--titel-txt);
}

.navbar .logo span {
  color: var(--as-bg-hover);
}

.navbar .moon {
  background-color: var(--titel-txt);
  border-radius: 20%;
  color: var(--as-bg);
  font-size: 20px;
  cursor: pointer;

}

.navbar .moon:hover {
  transform: scale(1.1);
  color: var(--paragraf-txt);
  transition: all 0.4s ease;
}

/* Home Section */

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 150px;
  overflow: hidden;
}

.home-content {
  padding-top: 55px;
}

.home h1{
  color: var(--titel-txt);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 50px;
  font-weight: bold;
}

.p1{
  color: var(--paragraf-txt);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 24px;
  margin-top: -20px;
  margin-bottom: -14px;
}

.home .p2{
  color: var(--paragraf-txt);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 70px;
}

.home a {
  background-color: var(--as-bg);
  color: var(--titel-txt);
  padding: 12px 22px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.home a:hover {
  background-color: var(--as-bg-hover);
  transition: all 0.4s ease;
}

.decor-circle {
  position: absolute; 
  bottom: -150px;   
  left: -150px;        
  width: 400px;
  height: 400px;
  background: var(--crikle);
  border-radius: 50%;
  z-index: -1;
}

.decor-circle2{
  position: absolute;
  top: -150px;      
  right: -150px;     
  width: 400px;
  height: 400px;
  background: var(--crikle);
  border-radius: 50%;
  z-index: -1;
}


.icons-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.icon {
  position: absolute;
  font-size: 22px;
  color: var(--titel-txt);
  opacity: 0.7;
  user-select: none;
  text-shadow: var(--titel-txt) 1px 1px 10px;
}


/* About */

.about {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  z-index: -1;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.left .to{
  color: var(--titel-txt);
  font-family: "Holtwood One SC", serif;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  left: 13.2%;
  top: 135%;
  z-index: 0;
}

.work{
  color: var(--titel-txt);
  font-family: "Holtwood One SC", serif;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  left: 13.2%;
  top: 145%;
  z-index: 0;
}

.left h2{
  font-family: "Holtwood One SC", serif;
  color: var(--paragraf-txt);
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1px;
  margin-top: -20px;
  position: absolute;
  left: 13.2%;
}

.right {
  background-color: #1F2937;
  z-index: -1;
}

/* Services */

.services {
  width: 100%;
  display: grid;
  justify-content: center;
  height: 100vh;
}
.services-title{
  color: var(--titel-txt);
  font-family: "Holtwood One SC", serif;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  margin-top: 100px;
}

  .services-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
  }

.services-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 70px;
}

.services-card {
    background: var(--card-bg);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    flex-shrink: 0;
    transition: all 0.5s ease;
    opacity: 0.5;
    filter: blur(3px);
    transform: scale(0.9);
    text-align: center;
}


.services-card i{
  color: var(--titel-txt);
  text-align: center;
  font-size: 170px;
}

.services-card h2{
  color: var(--paragraf-txt);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.services-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.arrow {
      background: var(--titel-txt);
      padding: 8px 10px;
      border-radius: 50%;
      border: none;
      font-size: 18px;
      color: var(--as-bg);
      cursor: pointer;
      transition: transform 0.3s;
      margin: 20px;
    }

    .arrow:hover {
      transform: scale(1.2);
    }


    .services-card.active {
      width: 280px;
      opacity: 1;
      filter: none;
      transform: scale(1.7);
      margin-left: 40px;
      margin-right: 40px;
    }

.decor-circle3{
  position: absolute;
  bottom: -250%;      
  right: -150px;     
  width: 400px;
  height: 400px;
  background: var(--crikle);
  border-radius: 50%;
  z-index: -1;
}

/* projects*/

.projects-wrapper{
  width: 100%;
  display: flex;
  flex-direction: wrap;
  height: 100vh;
}

.projects-title{
  color: var(--titel-txt);
  font-family: "Holtwood One SC", serif;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  padding-top: 100px;
}

