* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #06283D;
  font-family: 'Fredoka';
}

.password-generator {
  display: grid;
  width: 450px;
  padding: 20px;
  color: #969595;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
}

.password-generator h2 {
  text-align: center;
  font-weight: 500;
}

.checkbox,
.range{
  accent-color: #0e5b8b;
}

.password-output {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 15px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #ffffff78;
  box-shadow: 0px 0px 20px 0px rgba(1, 1, 1, 0.2);
}

#password {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #969595;
  background-color: transparent;
}

.copy-btn {
  border: none;
  cursor: pointer;
  background: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #969595;
}

.copy-btn:hover {
  color: #181931ec;
  
}

.copy-btn::before {
  content: "\F759";
}

.copy-btn.copied::before {
  content: "\F26D";
  color: #969595;
  font-size: 14px;
}

label[for="length-input"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  cursor: pointer;
  font-size: 16px;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(1, 1, 1, 0.2);
}

.length-val-box::before {
  content: "Password Length: ";
}

#length-input {
  cursor: pointer;
}

.options-wrapper {
  margin-top: 25px;
}

.options {
  display: grid;
  gap: 12px;
  margin-top: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.password-generator input[type=checkbox] {
  margin-right: 6px;
  vertical-align: middle;
}

.generate-btn {
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  color: #fff;
  line-height: 40px;
  border-radius: 5px;
  font-family: "Fredoka";
  transition: transform .3s;
  background: #06283D;
}

.generate-btn:active {
  transform: scale(0.98);
}

@media (max-width:425px) {
  .options {
    grid-template-columns: 1fr;
  }
}

@media (max-width:375px) {
  label[for="length-input"] {
    flex-direction: row-reverse;
  }

  .length-val-box::before {
    content: "";
  }
}